S3method(print,facet.adjust)
export(R)
export(bincon)
export(bintest)
export(click.shape)
export(click.text)
export(dlt.table)
export(dodge)
export(facet.adjust)
export(fapply)
export(ggcaterpillar)
export(ggcols)
export(ggheat)
export(ggmultiplot)
export(ggsurv)
export(grcols)
export(html.test)
export(ident)
export(intr)
export(kmplot)
export(lss)
export(multiplot)
export(power.cv)
export(progress)
export(psum)
export(pvalr)
export(recoder)
export(rescaler)
export(roundr)
export(search.df)
export(search.hist)
export(show.colors)
export(simon2)
export(spark)
export(tcol)
export(witchcraft)
export(zoomin)
