body, td {
  font-family: "Calibri";
  !background-color: white;
  font-size: 11pt;
}

body {
  font-size: 11pt;
  color: #000000;
  max-width: 55em;
  margin: auto;
  padding: 1em;
  !line-height: 20px;
  /*
  text-align: justify;
  text-justify: inter-word;
  */
}

table {
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  border: none;
  border-collapse: separate;
  border-spacing: 0 0em;
}

td, tr {
  /*font: 10pt Calibri;*/
  padding: 0px;
  margin: 0px;
}
 
p {
  margin-left: 15px;
  margin-bottom: 5px;
  text-align: justify;
  text-justify: inter-word;
}

blockquote {
  background-color: #f6f6f6;
  padding: 13px;
  padding-bottom: 1px;
}

hr {
  height: 0px;
  border-bottom: none;
  border-top-width: thin;
  border-top-style: dotted;
  border-top-color: #999999;
}

dl {
  margin-left: 0;
}

dl, dd {
    margin-bottom: 13px;
    margin-left: 13px;
  }

ul {
  margin-top: 0;
}

ul, li {
    list-style: circle outside;
  }

ul, ul {
    margin-bottom: 0;
  }

code {
  font-family: Consolas, Monaco, 'Courier New', monospace;
  color: #000;
  padding: 0px;
}

/* in-line r */
p > code, li > code {
  color: #900;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f6f6f6;
  font-size: 90%;
  padding: 0px 2px;
  font-weight: 400;
}

/*
pre > code {
  font-size: 12px;
  line-height: 16px;
}
*/

pre {
  font-size: 12px;
  line-height: 16px;
  white-space: pre-wrap;    /* Wrap long lines */
}

pre.r {
  background-color: #f6f6f6;
  padding: 4px 10px;
  border: 1px solid #aabbdd;
  border-radius: 5px;
  margin: 5px 5px 10px 20px;
}

img {
  background-color: #ffffff;
  padding: 2px;
  !border: 1px solid #dddddd;
  !border-radius: 3px;
  box-shadow: 2px 2px 12px -5px #999999;
  margin: auto;
  max-width: 75em;
  !max-height: 75em;
}

a {
  color: #6f6f6f;
  text-decoration: underline dotted;
}
  a:hover {
    color: #aaaaaa; }
  a:visited {
    color: #aaaaaa; }
  a:visited:hover {
    color: #aaaaaa; }
  a[href^="http:"] {
    text-decoration: underline dotted; }
  a[href^="https:"] {
    text-decoration: underline dotted; }

dl dt {
  font-weight: bold;
}

pre .operator {
  color: #000000;
}
pre .paren {
  color: #000000;
}

pre .literal {
 color: #2255dd;
}

pre .number {
 color: #2255dd;
}

pre .comment {
 color: #7f7f7f;
 font-style: italic
}

pre .keyword {
 color: #2255dd;
 font-weight: bold;
}

pre .identifier {
 color: #000000;
}

pre .string {
 color: #008844;
}

h1, h6 {
  margin-left: 15px;
  margin-bottom: 5px;
  text-align: center;
  text-center: inter-word;
}

h2, h3 {
 ! border-bottom: 2px solid #ccc;
  width: 75%;
  padding-top: 10px;
  font-size: 18px;
}

h4, h5 {
 ! border-bottom: 1px solid #ccc;
  width: 60%;
  margin-left: 8px;
  font-size: 16px;
}

#TOC {
  clear: both;
  margin: 0 0 10px 10px;
  padding: 4px;
  width: 400px;
  border: 1px solid #cccccc;
  border-radius: 5px;

  background-color: #f6f6f6;
  font-size: 13px;
  line-height: 16px;
}

#TOC .toctitle {
font-weight: bold;
font-size: 15px;
margin-left: 5px;
}

#TOC ul {
padding-left: 40px;
margin-left: -1.5em;
margin-top: 5px;
margin-bottom: 5px;
}

#TOC ul ul {
margin-left: -2em;
}

#TOC li {
line-height: 16px;
}

